.site-header.clearfix{
    background-color: rgb(255,234,170);
    height : 30%;
    width : 100%;
}
header{
    background-color: white;
}
h1{
    margin-top: 0;
  
}

address {
    max-width: 1 vpw;
}
